html,
body {
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.1rem;
}

.site__header {
  position: relative;
}

.site__center {
  position: relative;
}

.site__footer {
  position: relative;
}

.w1 {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 10px;
  padding-right: 0;
  padding-bottom: 10px;
  padding-left: 0;
}

header.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.logo1 {
  display: flex;
  width: 13%;
}

.logo1 a {
  display: block;
  text-decoration: none;
}

.logo1 img {
  display: block;
  width: 100%;
  max-width: 150px;
}

.header__box {
  width: 86%;
  display: flex;
  flex-wrap: wrap;
}

.header__box1 {
  width: 75%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(35, 19, 45, 0.1);
  padding-bottom: 10px;
}
.header__box2 {
  width: 25%;
  border-bottom: 1px solid rgba(35, 19, 45, 0.1);
  padding-bottom: 10px;
}
.header__box3 {
  width: 75%;
  padding-top: 15px;
}
.header__box4 {
  width: 25%;
  padding-top: 10px;
}

.header__infoItem1 {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.header__infoItem1:first-child {
  margin-left: 0;
}

.header__infoItem1 img {
  display: block;
  margin-right: 10px;
}

.header__infoItem1 span {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.1;
  color: rgba(54, 43, 35, 0.6);
}

.header__infoItem1 a {
  padding-bottom: 2px;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.1;
  color: #362b23;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1px dashed #362b23;
  transition: all 0.3s;
}

.header__infoItem1 a:hover {
  color: #ef7e5b;
  border-bottom: 1px dashed #ef7e5b;
}

.header__infoItem2 {
  display: flex;
  align-items: center;
  margin-left: 90px;
}

.header__infoItem2 a {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.1;
  color: rgba(54, 43, 35, 0.6);
  text-decoration: none;
  transition: all 0.3s;
}
.header__infoItem2 a:hover {
  color: #ef7e5b;
}

.header__box2 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header__actionUnit1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}
.header__actionUnit1:last-child {
  margin-right: 0;
}
.header__actionUnit1 a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.header__actionUnit1 img {
  display: block;
  width: 100%;
}

.header__actionUnit1 img.favorit {
  display: block;
}
.header__actionUnit1 img.favoritfill {
  display: none;
}

.header__actionUnit1 a.topCartIcon {
  position: relative;
  margin-right: 30px;
}

.header__actionUnit1 a.topCartIcon span {
  position: absolute;
  top: -12px;
  right: -22px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background: #ef7e5b;
  border: 3px solid #ffffff;
  border-radius: 14px;
  width: 42px;
  height: 28px;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1;
}

.topCart__totalMoney {
  display: flex;
  align-items: center;
}

.topCart__totalMoney span {
  font-weight: bold;
  font-size: 1rem;
  line-height: 1;
  color: #362b23;
}
.topCart__totalMoney span:first-child {
  margin-right: 5px;
}

.topMenu__area {
  position: relative;
}

.topMenu {
  display: flex;
  align-items: center;
}

.topMenu li {
  list-style: none;
  margin-right: 25px;
}

.topMenu li:last-child {
  margin-right: 0;
}

.topMenu li a {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.2;
  text-transform: uppercase;
  color: #362b23;
  transition: all 0.3s;
}
.topMenu li a:hover {
  color: #ef7e5b;
}

.topMenu li a:after {
  content: "";
  width: 0;
  position: absolute;
  left: 50%;
  bottom: -2px;
  height: 2px;
  background: #ef7e5b;
  transition: all 0.3s;
}

.topMenu li:hover a:after {
  width: 100%;
  left: 0;
}

.header__box4 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.socialLinks {
  display: flex;
  align-items: center;
}

.socialLinks a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin-right: 8px;
}

.socialLinks a:last-child {
  margin-right: 0;
}

.socialLinks a i {
  font-size: 1.5rem;
  line-height: 1;
  color: rgba(54, 43, 35, 0.8);
}

.topSearch__area {
  display: flex;
  align-items: center;
  margin-left: 105px;
}

.topSearch__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.topSearch__btn i {
  font-size: 1.5rem;
  line-height: 1;
  color: rgba(54, 43, 35, 0.8);
}

.tizers__area {
  border-bottom: 1px solid rgba(35, 19, 45, 0.1);
}

.tisers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 98px;
}

.tizer {
  display: flex;
  align-items: center;
}

.tizer img {
  display: block;
  margin-right: 15px;
}

.tizer span {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.75rem;
  color: #000000;
}

.catProd__area {
  position: relative;
  padding: 20px 0 0;
}

.catProd__outer {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.catProd {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* margin: -10px -10px; */
  margin: 0 -10px;
}

.catProd__section {
  width: 100%;
}

.catProd__section_half {
  width: 50%;
}

.catProd__itemOuter {
  padding: 10px;
  width: 100%;
  float: left;
}

.catProd__itemOuter_half {
  width: 50%;
}

.catProd__itemOuter_floatRight {
  float: right;
}

.catProd__item {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.catProd__itemImg {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  transition: all 0.8s;
}

.catProd__item:hover .catProd__itemImg {
  transform: scale(1.05);
}

.transparent {
  display: block;
  width: 100%;
  position: relative;
  z-index: 1;
}

.catProd__itemInner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  z-index: 20;
  padding: 20px;
  justify-content: flex-end;
}

.catProd__itemTitle {
  font-size: 2.25rem;
  line-height: 1.1;
  color: #000;
  margin-bottom: 20px;
  font-weight: 600;
}

.catProd__itemTitle_white {
  color: #fff;
}

.catProd__itemLink {
  text-decoration: none;
  color: #000;
  display: inline-block;
  font-size: 1.25rem;
  line-height: 1;
  padding: 7px 15px;
  border: 2px solid #000;
  margin-right: auto;
  transition: all 0.3s;
  background: transparent;
  border-radius: 4px;
}

.catProd__itemLink_white {
  color: #fff;
  border: 2px solid #fff;
}

.catProd__itemLink:hover {
  color: #f86300;
  border: 2px solid #f86300;
  background: rgba(255, 255, 255, 0.8);
}
